<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Match Details Page</title>
</head>
<body>
	<p>
		{% if match %}
		<table>
			<tr>
				<th>Match</th>
				<th>Hero</th>
				<th>Hero Damage</th>
			</tr>
			{% for player in match_players %}
                <tr>
                    <td>{{player.name}}</td>
                    <td>{{player.hero_id}}</td>
                    <td>{{player.hero_damage}}</td>
                </tr>
			{% endfor %}
		</table>
		{% else %}
		No player available.
		{% endif %}
	</p>

</body>
</html>